<a href="https://colab.research.google.com/github/OLIVIA-ANN-MATHEW/Introduction-to-Python/blob/main/01_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x="Olivia Ann"
y="Mathew"
print(x+" "+y)

Olivia Ann Mathew

In [2]:
x="10"
y="20"
print(x+y)

1020

In [3]:
x=int(input("Enter your marks: "))

Enter your marks: 60

In [4]:
print(type(x))

<class 'int'>

In [5]:
x=int(input("enter the value of x: "))
y=int(input("enter the value of y: "))
print(x+y)
print(x-y)

enter the value of x: 5
enter the value of y: 6
11
-1

In [6]:
x=int(input("enter the current: "))
y=int(input("enter the resistance: "))
v=x*y
print("voltage is ",v )

enter the current: 3
enter the resistance: 4
voltage is  12

In [7]:
x=int(input("Enter your mark: "))
if x>50:
  print("you passed")
if x==50:
  print("you have just passed")
else:
  print("you failed")

Enter your mark: 50
you have just passed

In [8]:
x=int(input("Enter your mark: "))
if 0<x<50:
  print("you failed")
if 50<=x<=60:
  print("you have second class")
if 60<x<=80:
  print("you have first class")
if x>=81:
  print("you have distincton")

Enter your mark: 60
you have second class

In [9]:
x=int(input("Enter your mark: "))
if x>0 and x<50:
  print("you failed")
if x>=50 and x<=60:
  print("you have second class")
if x>60 and x<=80:
  print("you have first class")
if x>=81:
  print("you have distincton")

Enter your mark: 60
you have second class

In [10]:
x=int(input("Enter your mark: "))
if x>80:
  y=int(input("Enter the number of supply: "))
  if y==0:
    print("you have distinction")
  else:
    print("you have passed but no distinction")
else:
  print("you have failed")

Enter your mark: 30
you have failed

In [11]:
x=int(input("Enter the number: "))
if x%2==0:
  print("the number is even")
else:
  print("the number is odd")

Enter the number: 6
the number is even

In [12]:
for k in range(10):
  if k%2==0:
   print(k)

0
2
4
6
8

In [13]:
i=0
for k in range(10):
  i=i+k
print(i)

45

In [14]:
i=0
for k in range(101):
  if k%2==0:
    i=i+k
print(i)

2550

In [15]:
i=1
for k in range(1,100):
  i=i*k
print(i)

933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000

In [16]:
for k in range(100):
  if k==5:
    break;
  print(k)

0
1
2
3
4

In [17]:
sum=0
for k in range(100):
  x=int(input("Enter the number: "))
  sum=sum+x
  z=int(input("is this finished press 0 else press 1"))
  if z==0:
    break;
print(sum)

Enter the number: 5
is this finished press 0 else press 11
Enter the number: 6
is this finished press 0 else press 10
11

In [18]:
sum=0
for k in range(100):
  x=int(input("Enter the number: "))
  sum=sum+x
  z=int(input("is this finished press 0 else press 1"))
  if z==0:
    break;
print(sum)

Enter the number: 6
is this finished press 0 else press 10
6

In [19]:
k=0
while(k<100):
  print(k)
  k=k+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [20]:
k=0
sum=0
while(k<=100):
  sum=sum+k
  k=k+1
print(sum)

5050

In [21]:
k=0
sum=0
while(k<=100):
  if k%2==1:
    sum=sum+k
  k=k+1
print(sum)

2500

In [22]:
for x in range(10):
  if x==5:
    continue;
  print(x)

0
1
2
3
4
6
7
8
9

In [23]:
for x in range(100):
  if x%2!=0:
    continue;
  print(x)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [24]:
x=[1,2,5,9,"India"]
x[0]

1

In [25]:
x=[1,2,5,9,"India"]
x[4]

'India'

In [26]:
x[0:3]

[1, 2, 5]

In [27]:
x[-2:]

[9, 'India']

In [28]:
x.append("Olivia")
print(x)

[1, 2, 5, 9, 'India', 'Olivia']

In [29]:
x=["Olivia","Niswarth","Rashid"]
x.insert(1,"Saishna")
print(x)

['Olivia', 'Saishna', 'Niswarth', 'Rashid']

In [30]:
x[2]="Sanath"
print(x)

['Olivia', 'Saishna', 'Sanath', 'Rashid']

In [31]:
x=['Olivia', 'Saishna', 'Sanath', 'Rashid']
y=x[0]
x[0]=x[3]
x[3]=y
print(x)

['Rashid', 'Saishna', 'Sanath', 'Olivia']